.app-sidebar{
  border: 0px solid;
}
.background {

  background-image: url("https://media.istockphoto.com/id/614506802/photo/man-newspaper-reading-on-table.jpg?s=1024x1024&w=is&k=20&c=ptjW-lyB9sCfOspr2cDGFyKJ-7F4RvDvwJn-sTmxPf0=");

  background-repeat: no-repeat;

  background-size: cover;

  height: 600px;

}